<% widget_style = WidgetStyle.key_string(widget.widget_style) %>
<% title widget.name %>
<%= content_for :content do %>
  CUSTOM
  <%= render 'products/reviews/product_info' %>
  <%= content_tag :div, class: "product_reviews_#{widget_style}" do %>
    <% display_write_form = brand.review_writable? && display_write_form?(@product) && !@external_widget %>
    <%= render 'products/reviews/form', display_write_form: display_write_form %>
    <%= render 'products/reviews/summary', klass: ('without_write_form' unless display_write_form) %>
    <%= content_tag :div, class: "widget widget-reviews pagination-list #{'hidden' if !product.visible_reviews?} #{'no-data' if product_reviews.total_count == 0}" do %>
      <%= render 'products/reviews/header' %>
      <div>
        <%= content_tag :div, class: "widget-body product_reviews_#{widget_style}__body" do %>
          <% if product_reviews.empty? %>
            <ul class="reviews reviews-product"></ul>
          <% else %>
            <ul class="reviews reviews-product">
              <%= widget.render_reviews(self, product_reviews, external_widget: @external_widget) %>
            </ul>
          <% end %>
          <%= content_tag :div, '리뷰가 없습니다.', class: 'no-data-message' %>
        <% end %>
        <%= render "products/reviews/#{widget_style}/footer" %>
      </div>
    <% end %>
  <% end %>
<% end %>
