<%
message_initial_rows = widget.message_initial_rows == 0 ? 3 : widget.message_initial_rows
is_my_last_review = my_last_review?(review) if local_assigns[:is_my_last_review].nil?
%>
<%= content_tag_for :li, review, class: "product-review #{'product-my-first-review' if is_my_last_review}", data: {expand_url: expand_review_path(review.id, external_widget: local_assigns[:external_widget] ? 1 : 0)} do %>
  <%= content_tag :div, class: "l-contents panel #{'photo-review' if review.images_count > 0}" do %>
    <div class="panel-heading no-border score">
      <div class="star-wrap">
        <% if review.brand_author_type && review.brand_author_type[:image] %>
          <%= content_tag :div, class: 'brand-author-type-image-container', style: "margin-top: #{(14.0 - review.brand_author_type.image.height) * 0.5}px" do %>
            <%= image_tag review.brand_author_type.image_url %>
          <% end %>
          <div class="divider">|</div>
        <% end %>
        <%= render 'reviews/score', review: review %>
        <%= render 'reviews/tags', review: review, photo_tag: !widget.show_image_when_collapsed %>
      </div>
    </div>
    <%= content_tag :div, class: "review-content #{'expanded' if widget.message_initial_rows == 0}" do %>
      <%= content_tag(:div, "(이 리뷰는 #{review.user_display_name}님이 작성하신 최신 리뷰 입니다.)", class: 'my-first-review') if is_my_last_review %>
      <div class="review-content-inner review-content-collapsed">
        <div class="panel-body no-border">
          <a class="message link-expand">
            <% if widget.review_message_all_collapsed? %>
              <% show_see_more = true %>
              <%= widget.collapsed_title %>
            <% else %>
              <% show_see_more = !widget.show_image_when_collapsed && review.images_count > 0 %>
              <% review.message.lines.each_with_index do |line, i| %>
                <%=raw "<br>" if i != 0 %>
                <% if i == message_initial_rows %>
                  <% show_see_more = true %>
                  <% break %>
                <% else %>
                  <%= line.html_safe %>
                <% end %>
              <% end %>
            <% end %>
            <%= content_tag(:div, '... 더보기', class: 'mall-link-color see-more') if show_see_more %>
          </a>
          <%= render('reviews/images', review: review, external_widget: local_assigns[:external_widget]) if widget.show_image_when_collapsed %>
        </div>
        <%= render 'reviews/review_footer', review: review, show_comments: false %>
      </div>
      <div class="review-content-inner review-content-expanded">
        <%= render 'reviews/review_content_expanded', review: review if widget.message_initial_rows == 0 %>
      </div>
    <% end %>
  <% end %>
  <%= content_tag :div, class: "r-contents index" do %>
    <ul>
      <li>
        <div class="title">작성자</div>
        <div class="value"><%= review.user_display_name %></div>
      </li>
      <% if @brand.review_show_created_at %>
        <li>
          <div class="title">작성일</div>
          <div class="value"><%= review.created_at.strftime("%Y. %m. %d") %></div>
        </li>
      <% end %>
      <% case @brand.review_author_display_type %>
      <% when ReviewAuthorDisplayType::AUTHOR_TYPE %>
        <li>
          <div class="title">작성자 등급</div>
          <div class="value">
            <% if review.brand_author_type %>
              <%= review.brand_author_type.title %>
            <% elsif review.pinned_to_top? %>
              <span class="fa fa-bookmark"></span> 베스트 리뷰
            <% else %>
              <%= review.writer_type %>
            <% end %>
          </div>
        </li>
      <% when ReviewAuthorDisplayType::USER_GRADE %>
        <% if review.brand_user_grade_name.present? || review.pinned_to_top? %>
          <li>
            <div class="title">회원 등급</div>
            <div class="value">
              <% if review.pinned_to_top? %>
                <span class="fa fa-bookmark" title="베스트 리뷰"></span>
              <% elsif (user_grade_icon_url = review.user_grade_icon_url) %>
                <%= image_tag user_grade_icon_url, class: 'user-grade-icon' %>
              <% end %>
              <%= review.brand_user_grade_name || '베스트 리뷰' %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
