<% title t('reviews.product_reviews') %>
<% content_for :topbar do %>
  <%= render 'topbar/topbar', hide_sort_type: false %>
<% end %>
<% content_for :content do %>
  <% review_source = WrittenSource::BRAND_MOBILE_PRODUCT_REVIEWS %>
  <% if @product %>
    <%= content_tag :div, class: "panel panel-reviews #{'no-data' if @reviews.total_count == 0}" do %>
      <div class="panel-heading">
        <%= render @product, review_source: review_source, display_product_buttons: true %>
        <div class="sort_types">
          <% review_sort_types.each_with_index do |review_sort_type, i| %>
            <%= content_tag :div, class: "sort_types__sort_type #{'sort_types__sort_type--selected' if review_sort_type == @review_sort} #{'sort_types__sort_type--last' if i == (review_sort_types.count - 1)}" do %>
              <%= link_to ajax_path(order: review_sort_type, aloading: '.page'), remote: true do %>
                <span class="sort-type"><%= ReviewSort.t(review_sort_type) %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= render 'products/reviews/summary/thumbnail' if @photo_reviews_count > 0 %>
      </div>
      <div class="panel-body">
        <% if @reviews.empty? %>
          <ul class="reviews"><%= t('reviews.no_reviews') %></ul>
        <% else %>
          <ul class="reviews">
            <%= render partial: 'products/reviews/review', collection: @reviews, as: 'review', locals: {hide_image: true, external_link: false} %>
          </ul>
        <% end %>
      </div>
      <% if @reviews.total_pages > 1 %>
        <div class="panel-footer">
          <%= paginate @reviews, remote: true %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, nil, data: {url: url_for(params.merge(category_id: @category.try(:id), group: ReviewGroupBy::NONE, order: @review_sort))}, id: 'data-sort-type', class: 'hidden' %>
<% end %>
