<% title t('reviews.product_reviews') %>
<% content_for :topbar do %>
  <%= render 'topbar/topbar', hide_sort_type: false %>
<% end %>
<% content_for :content do %>
  <% if @product %>
    <%= content_tag :div, class: "panel panel-reviews #{'no-data' if @reviews.total_count == 0}" do %>
      <div class="panel-heading">
        <%= render @product, review_source: WrittenSource::BRAND_MOBILE_PRODUCT_REVIEWS %>
      </div>
      <div><a href="<%= @product.url%>"><div class="panel-product-button">제품 보러가기</div></a></div>
      <div class="action-container">
        <%= link_to '리뷰쓰기11111', new_mobile_review_path(product_id: product.id, review_source: review_source), remote: true, data: {login_required: @brand.review_allowed_author_type != ReviewAllowedAuthorType::EVERYONE} %>
      </div>
      <div class="panel-body">
        <% if @reviews.empty? %>
          <ul class="reviews"><%= t('reviews.no_reviews') %></ul>
        <% else %>
          <ul class="reviews">
            <%= render partial: 'reviews/review', collection: @reviews, as: 'review', locals: {hide_image: true, external_link: false} %>
          </ul>
        <% end %>
      </div>
      <% if @reviews.total_pages > 1 %>
        <div class="panel-footer">
          <%= paginate @reviews, remote: true %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, nil, data: {url: url_for(params.merge(category_id: @category.try(:id), group: ReviewGroupBy::NONE, order: @review_sort))}, id: 'data-sort-type', class: 'hidden' %>
<% end %>